
/* Custom Styles for Public Pages */
  

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
  
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px !important;
}

table {
    background-color: white;
}

a {
  color: #0077cc;
}  

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
  